.channel-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $size-7;
  cursor: pointer;
  transition: color 400ms ease;

  &_thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $secondary-medium;
    margin-right: $size-7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & img {
      width: 70%;
      display: block;
      margin: auto;
    }

  }

  &:hover {
    color: $primary;
  }
}