*, *::before, *::after {
  box-sizing: border-box;
}

body, body .input, body textarea {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $text-color;
}

.app {
  background: $primary-light;
  height: 100vh;
  min-width: 1200px;
  overflow: hidden;


  h2 {
    font-size: 20px;
    text-transform: uppercase;
    // padding-bottom: $size-3;
    margin: 0;
    color: $white;
  }

  li {
    list-style: none;
  }
}

